html {
	margin: 5%;
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    margin-left: auto;      
    margin-right: auto;  
}

.hidden {
	display: none;
}

.bottom {
	padding-top: 20px;
}

.col-3 {
	border: 1px solid red;
}

.pokeImg {
	text-align: center;
}

.cardName {
	text-align: center;
}