html {
	margin: 5%;
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    margin-left: auto;      
    margin-right: auto;  
}

h1, h2 {
	text-align: center;
	color: #FFF;
}

p {
	word-wrap: break-word;
}

.ebay-link {
	text-align: center;
}

.hidden {
	display: none;
}

.bottom {
	padding-top: 20px;
}

.pokeImg {
	text-align: center;
	height: 342px;
	width: 245px;
}

.cardName {
	text-align: center;
}